	ul {
    		list-style-type: none;
		float: left;
		width: 17%;
		text-align: center;
		background-color: gold;
		margin-top: 7px;
		margin-left: 6px;
		padding: 0 20px;
		border: 1px solid yellow;
		position: sticky;
		top: 0px;
   		left: 10px;
		border-radius: 15px;
		}
	li a {
    		display: block;
    		width: 100%;
		padding: 8px 8px;
		border-radius: 15px;
		}
	li a:hover {
    		background-color: yellow;
   		color: black;
		}
	li a.active {
    		background-color: darkorange;
    		color: black;
		}
	li a:hover:not(.active) {
    		background-color: yellow;
   		color: black;
		}
	.contentbox
		{background-color: clear;
		width: 100%;
		border: 15px solid darkorange;
		padding: 5px;
		margin: 5px;
		border-radius: 15px;
		}
	.sidebox
		{background-color: clear;
		width: 100%;
		border: 5px solid darkorange;
		padding: 5px;
		margin: 5px;
		}
	.fixed {
		position: fixed;
		bottom: 1;
		right: 1;
		}
	@font-face 
		{font-family: "ubuntubolditalic";
		src: url(ubuntu-bolditalic.ttf);
		}
	@font-face 
		{font-family: "ubunturegular";
		src: url(ubuntu-regular.ttf);
		}
	* 
		{box-sizing: border-box;
		font-family: ubunturegular;
		}
	.menu 	
		{float:left;
 		width:17%;
  		text-align:center;
		margin-left:0px;
		color:Black;
		border-radius: 15px;}
	.menuitem 
		{background-color:gold;
  		padding:8px;
  		margin-top:7px;
		border-style: outset;
		border-radius: 15px;}
	.menuitemcurrent
		{background-color:darkorange;
  		padding:8px;
  		margin-top:7px;
		border-style: outset;
		border-radius: 15px;}
	.main 
		{float:left;
 		width:55%;
		margin-top: 7px;
		margin-left: 15px;
		padding: 0 20px;
		color:black;
		background-color:gold;
		border: 1px solid yellow;
		border-radius: 15px;}
	.right 
		{background-color:gold;
  		float:left;
  		width:25%;
  		padding: 5px 10px 5px 5px;
  		margin-top:7px;
		margin-left: 15px;
 		text-align:center;
		border: 1px solid yellow;
		border-radius: 15px;}

	@media only screen and (max-width:620px) 
		{/* For mobile phones: */
  			.menu, .main, .right, ul, .header, .footer 
			{width:95%;}
		}
	.body
		{color:black;
		font-size:1.5vw;
		background-image:url('BitcoinForBackground.png');
		padding:5px 5px 5px 5px;
		border-radius: 15px;}
	.header
		{background-color:gold;
		font-family:ubuntubolditalic;
		color:black;
		padding:13px;
		text-align:center;
		font-size:4.5vw;
		border: 1px solid yellow;
		border-radius: 15px;}
	.footer
		{background-color:gold;
		color:black;
		padding:5px;
		text-align:center;
		border: 1px solid yellow;
		border-radius: 15px;} 
	.image
		{width:auto; 
		heigh:auto;
		max-width: 100%;
		}
	.button
		{
			width: 100px;
			height: 25px;
			border-radius: 15px;
			background-color: darkorange;
			text-align: center;
		}
	a:link
		{color:Black;
		background-color:transparent;
		text-decoration:none;}
	a:visited
		{color:Black;
		background-color:transparent;
		text-decoration:none;}
	a:hover
		{color:Green;
		background-color:transparent;
		text-decoration:underline;}
	a:active
		{color:blue;
		background-color:transparent;
		text-decoration:none;}